/* font-family: 'Cuprum', sans-serif;
font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #577590;
  color: #ffffff;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

.none {
  display: none;
}

.page {
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
  height: -webkit-fill-available;
  padding: 30px;
  gap: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: "Cuprum", sans-serif;
  font-size: 50px;
  line-height: 1;
  margin: 20px auto;
  text-align: center;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 700;
}

h4 {
  font-weight: 300;
}

.tasks__wrapper {
  overflow-y: scroll;
  padding-right: 5px;
}

.task-item {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  border-radius: 10px;
}

.task-item__left,
.task-item__center,
.task-item__right {
  margin: 10px;
  height: 170px;
}

.task-item__left {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-item__btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #ffffff20;
  padding: 5px;
  font-size: 1.3rem;
  border: #ffffff 1px solid;
  border-radius: 10px;
  text-align: center;
  width: max-content;
}

.btn:hover {
  cursor: pointer;
  background-color: #ffffff40;
}

.task-item__rigth {
  width: 170px;
}
.task-item__checkbox {
  width: 170px;
  height: 170px;
  border-radius: 10px;
}

[data-importance="red"] {
  background-color: #f94144;
}
