/* font-family: 'Cuprum', sans-serif;
font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #577590;
  color: #ffffff;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

.none {
  display: none !important;
}

.page {
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
  height: 100vh;
  padding: 30px;
  gap: 10px;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: "Cuprum", sans-serif;
  font-size: 45px;
  line-height: 1;
  margin: 20px auto;
  text-align: center;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 700;
}

h4 {
  font-weight: 300;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.tasks__wrapper {
  overflow-y: scroll;
  padding-right: 5px;
}

.tasks {
  display: grid;
  grid-auto-rows: max-content;
  gap: 10px;
}

.task-item {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  border-radius: 10px;
}

.task-item__left,
.task-item__center,
.task-item__right {
  margin: 15px;
  height: 125px;
}

.task-item__left {
  width: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-item__btns,
.controls__btns-wrapper {
  display: flex;
  justify-content: space-between;
}

.controls__btns-wrapper {
  gap: 5px;
}

.btn {
  background-color: #ffffff20;
  padding: 4px;
  font-size: 1rem;
  border: #ffffff 1px solid;
  border-radius: 8px;
  text-align: center;
  width: max-content;
}

.btn:hover {
  cursor: pointer;
  background-color: #ffffff40;
}

.btn:active {
  cursor: pointer;
  background-color: #ffffff;
  color: #577590;
}

.task-item__center {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
}

.task-item__name {
  font-weight: 800;
  font-size: 4em;
}

.task-item__creation {
  color: #ffffffa0;
}

.task-item__right {
  width: 125px;
}

.task-item__checkbox-wrapper {
  width: 100%;
  height: 100%;
}

.task-item__checkbox {
  opacity: 0;
}

.task-item__checkbox-wrapper {
  border-radius: 10px;
  border: 2px solid #fffffff0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  transition: all 0.2s;
  position: relative;
}

.task-item__checkbox-wrapper.completed {
  background-color: #fffffff0;
}

.task-item__checkbox-wrapper::after {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  border-width: 0 15px 15px 0;
  border-style: solid;
  transform: scale(0);
}
.task-item__checkbox-wrapper.completed,
.task-item__checkbox-wrapper.completed:hover {
  background-color: #fffffff0;
}

.task-item__checkbox-wrapper:hover {
  cursor: pointer;
  background-color: #ffffff7e;
}

.task-item__checkbox-wrapper:hover::after,
.task-item__checkbox-wrapper.completed::after {
  content: "";
  transform: rotate(45deg) scale(1);
  width: 25%;
  height: 50%;
  left: calc(100% / 3);
  top: 12.5%;
}

.task-item__checkbox-wrapper.completed:hover::after {
  opacity: 0.1;
}

[data-importance="red"] .task-item__checkbox-wrapper::after,
[data-importance="red"] .btn:active {
  color: #f94144;
}

[data-importance="green"] .task-item__checkbox-wrapper::after,
[data-importance="green"] .btn:active {
  color: #90be6d;
}

[data-importance="orange"] .task-item__checkbox-wrapper::after,
[data-importance="orange"] .btn:active {
  color: #f8961e;
}

[data-importance="red"] {
  background-color: #f94144;
}

[data-importance="orange"] {
  background-color: #f8961e;
}

[data-importance="green"] {
  background-color: #90be6d;
}

.footer {
  font-size: 30px;
  color: #ffffffa0;
}

.num-of-today-tasks {
  font-size: 1.3em;
  font-weight: 800;
  color: #ffffff;
}

.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #577590b6;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__new-task {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.popup__new-task input {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  padding: 7px;
}
.new-task-img {
  width: 80px;
}

.importance-choice-wrapper,
.category-wrapper {
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  gap: 1px;
  align-items: center;
}

.importance-choice {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.importance-choice:hover {
  cursor: pointer;
  opacity: 0.9;
}

[name="importance"]:checked + .importance-choice {
  border: #ffffffa0 2px solid;
}

.importance-choice[for="red"] {
  background-color: #f94144;
}

.importance-choice[for="orange"] {
  background-color: #f8961e;
}

.importance-choice[for="green"] {
  background-color: #90be6d;
}

input[name="importance"] {
  opacity: 0;
  width: 0;
  height: 0;
}
